body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #141414; /* Cor de fundo escura, semelhante ao Netflix */
    color: #fff; /* Texto em cor branca para contraste */
}

.loading-message {
    text-align: center;
    font-size: 1.2em;
    color: #fff; /* Mensagem de carregamento em branco */
    margin-top: 20px;
    display: none; /* Oculta a mensagem de carregamento por padrão */
}

.category-container {
    margin-top: 20px;
}

.category {
    margin-bottom: 40px;
}

.category h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #e50914; /* Cor vermelha do título da categoria, estilo Netflix */
}

.channel-list {
    display: flex;
    flex-wrap: wrap;
    gap: 15px; /* Espaçamento entre os itens */
}

.channel-item {
    background: #333; /* Fundo escuro dos itens */
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    padding: 10px;
    text-align: center;
    transition: all 0.3s ease;
    width: calc(25% - 15px); /* Ajusta a largura dos itens com base no layout */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.channel-item:hover {
    transform: scale(1.02);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.channel-icon {
    width: 100px; /* Ajusta conforme necessário */
    height: 100px; /* Ajusta conforme necessário */
    object-fit: cover;
    margin-bottom: 10px; /* Adiciona espaço abaixo da imagem */
}

.channel-name {
    font-size: 1em;
    color: #fff; /* Nome do canal em branco */
}

#prev-button,
#next-button {
    background-color: #e50914; /* Botões com a mesma cor vermelha do título */
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 1em;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
}

#prev-button:hover,
#next-button:hover {
    background-color: #b81d24; /* Cor um pouco mais escura para o hover */
}

#prev-button:disabled,
#next-button:disabled {
    background-color: #666; /* Cor para botões desativados */
    cursor: not-allowed;
}

/* Estilo do player de vídeo */
.input-video {
    display: flex;
    justify-content: center; /* Centraliza o player horizontalmente */
    align-items: center; /* Centraliza o player verticalmente */
    margin-top: 20px;
}

#iptvPlayer {
    width: 100%;
    max-width: 800px; /* Tamanho máximo do player */
    height: auto; /* Mantém a proporção do vídeo */
}